<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WRKOUT</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <form method="POST" action="users">
        <div class="form-container">
          <div class="">
            Your Max
          </div>
          <input type="number" name="maxPushups" placeholder="20" min="1" max="150">
          <br>

          <div class="">
            Phone Number
          </div>
          <input type="text" name="phone" value="" placeholder="555-555-5555">
          <br>

          <div class="">
            Confirmation Code
          </div>
          <input type="number" name="confirmationCode" placeholder="555555">
          <br>

          <button type="submit">submit</button>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="public/scripts/home.js">

    </script>
  </body>
</html>
